/* ===================================
   TABLET SCREENS 
====================================== */

@media (min-width: 768px){

body{
    width: 100%;
    max-width: 900px;
}

main{
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}   

.content-wrapper{
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    width: 100%; 
}

.bio-image{
    width: 250px;
    height: 250px; 
    object-fit: cover;
    border-radius: 30%;
    display: block;
    margin: 0 auto;
}

.bio-text{
    max-width: 700px;
    margin: 0 auto;
}

.card img{
    object-fit: cover;
    object-position: center;
}
}

/* ===================================
   DESKTOP SCREENS 
====================================== */

@media (min-width: 1024px){

body{
    width: 100%; 
    max-width: 100%; 
}

main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.content-wrapper{
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    width: 100%;
}

/*STEP 2.5: Hover Effects and Transitions*/
/*hover effect*/

nav a:hover{
    background-color: #91c1daeb; 
    color: black;
    transition: 0.3s;
}

.bio-image{
    width: 300px;
    height: 300px;
}

.card img{
    object-fit: cover;
    object-position: center;
}

}